
.Tabs {
    width: 80%;
    height: auto;
    min-height: 400px;
    margin: 0.25rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #021216;
    border-radius: 2rem;
    @media (max-width: 769px) {
     padding: 2rem 0;
    }
  }

ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }

ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.nav li:hover {
    background: #007bbda2;
}

ul.nav li.active {
    background: var(--secondary-light);
    font-weight: bold;
}

/* First and Second Tab Styles */
.CollabTab p,
.PostsTab p {
    font-size: 2rem;
    text-align: center;
}